<div class="box">
    <app-persona
      *ngFor="let personaElemento of personas; let i = index"
      [persona]="personaElemento"
      [indice]="i"
    >
    </app-persona>
  </div>
  <div class="box">
    <!--Por medio de la notacion en el formulario.ts del @Output , se está 
    escuchando y el padre recibe el evento-->
    <app-formulario></app-formulario>
    <hr />
    <!--El siguiente es el componente hijo, aqui voy a mandar desde el componente padre informacion al componente hijo  -->
  </div>