<div class="container">
  <div class="row">
    <div class="col">
      <h1>Aplicación de Calculadora</h1>
      <label>Operando A</label><br><br>
      <input type="number" class = "form-control"placeholder="Escribe operando A" [(ngModel)] = 'a'>
      <br>
      <label>Operando B</label><br><br>
      <input type="number" class = "form-control" placeholder="Escribe operando B"[(ngModel)] = 'b'> <br>
      <button class="btn btn-primary" (click)="sumar()">Sumar</button><br>
      <label>Resultado:{{resultado}} </label>
      
    </div>
  </div>
</div>
