<div *ngIf="!isAutenticado()" class="box centrado"><!--preguntamos con un if si esta autenticado o no-->
  <a routerLink="/login">Login</a>
</div>
<div *ngIf="isAutenticado()" class="box centrado">
  <a style="cursor:pointer" (click)="salir()">Salir</a>
</div>


<div class="box" id ="heading">
  <h1>{{ titulo }}</h1>
</div>


<!-- <app-personas></app-personas> -->
<router-outlet></router-outlet> <!--Router outlet, este componente lo que va a hacer es mostrar el componente
segun la ruta que se haya especificado en el navegador web-->