 <app-personas></app-personas> <!--Lo que pasa aqui es que se va a incluir el contenido del componente appersonas por medio del  selector -->
 

<!--El orden iria primero llamo al html luego al archivo de typescript y luego al otro archivo html
es decir esto es single page application SPA: 
           1.Primero va el index.html, en el index se pone el decorador de la clase creada en mi archivo de ts
           2.En el archivo de ts indico mi archivo html que hace referencia a mi plantilla html u otro archivo html
           3. Aquí se puede ver que tengo otro selector por ende se iría ahora a mi archivo de ts de mi selector es decir personas.component.ts
           4. Por ultimo aca mi archivo de ts llama a otro archivo html el cual tiene una etiqueta h1-->